<meta property="og:title" content="{% if title %}{{title}}{% else %}{{config.siteTitle}}{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{config.url}}{{page.url}}" />