<form class="w-full flex gap-4 flex-col" action="https://tinyletter.com/amazt" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/amazt', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <h2 class="text-3xl text-center mb-4">
    通过 Email 订阅最新信息
  </h2>
  <div class="flex gap-4">
    <div class="basis-2/3">
      <input placeholder="Email 地址" class="block w-full outline-pink-900 bg-black outline-none px-2 py-2 rounded" type="text" name="email" id="tlemail"/>
      <input type="hidden" value="1" name="embed"/>
    </div>
    <div class="basis-1/3">
      <input class="primary-button w-full cursor-pointer" type="submit" value="订阅"/>
    </div>
  </div>

  <div class="">
    <a href="https://tinyletter.com/amazt" target="_blank" class="underline text-sm text-pink-900">手动订阅</a>
  </div>
</form>