{% extends "layouts/base.njk" %}

{% block body %}

  <div class="container mx-auto md:max-w-[960px] text-gray-100 pt-24">
    {# nav bar #}
    <div class="">
      <div class="text-gray-100 text-xl font-bold">
        <a class="hover:text-pink-800 transition-colors" href="/">AMAzing Talk</a>
        </div>
      <div class="text-sm">
      Ask Me Anything
      </div>
    </div>

    <div class="mt-24 prose prose-invert text-gray-100">
      {{  content | safe }}
    </div>

  </div>
{% endblock %}