<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    {% include "_og.njk" %}
    {% include "_analytics.njk" %}
    {% if (title) %}
      <title>{{ title }} - {{ config.siteTitle }}</title>
    {% else %}
      <title>{{ config.siteTitle}}</title>
    {% endif %}
  </head>
  <body class="bg-black">
    <div class="">
      {% block body %}{% endblock %}
    </div>

    <footer class="text-gray-300 text-sm text-center my-48">
      Made with 💖 by <a class="underline" href="https://lutaonan.com">Randy Lu</a>
    </footer>
    
  </body>
</html>